html, body {
    margin: 0;
    width: 100%;
    min-height: 100vh;
    color: #fff;
    background: rgb(224, 222, 222);
    font-family: freight-display-pro;
}

body {
    position: relative;
    padding: 0;
}

header {
    box-sizing: border-box;
    position: absolute;
    color: #fff;
    top: 0;
    left: 0;
    background: #1a1a1a;
    z-index: 1000;
    width: 100%;
    -webkit-font-smoothing: antialiased;
    padding: 11px;
    border-bottom: 1px solid white;
}

.header-inner {
    box-sizing: border-box;
    max-width: 1600px;
    margin: 0 5vw;
    padding: 2vh 6vw;
}

#menu-avvys-menu {
    padding: 10px 10px;
    white-space: nowrap;
    list-style-type: none;
    line-height: 1em;
    display: flex;
    justify-content: center;
}

#menu-avvys-menu>li>a, #menu-footer-navigation>li>a {
    display: inline-flex;
    text-decoration: none;
    margin-right: 25px;
    -webkit-box-flex: 1;
    color: #fff;
    padding: .618em 0;
    font-family: proxima-nova;
    font-style: normal;
    font-size: 1.2em;
    letter-spacing: .16em;
    font-weight: bold;
}

#menu-avvys-menu>li>a:hover, #menu-footer-navigation>li>a:hover {
    color: #e1a87a;
    text-shadow: 1px 1px 2px black, 0 0 1em grey, 0 0 0.2em;
}

.block {
    box-sizing: border-box;
    white-space: pre-wrap;
    width: 100%;
    margin-right: auto;
    margin-left: 40px;
}

.block-header {
    outline: none;
}

.block-header>h1 {
    white-space: pre-line;
    font-family: freight-display-pro;
    font-size: 7.51vw;
    margin-top: 0;
    color: #fff;
}

font {
    vertical-align: inherit;
}

/* Footer style */

.block-footer-content {
    margin: 0;
    color: #fff;
    background-color: #1a1a1a;
    -webkit-font-smoothing: antialiased;
    white-space: pre-wrap;
    text-align: center;
    align-items: center;
}

.block-footer-content>h3 {
    font-size: 4.25vw;
}

.block-footer-content>p {
    color: #7a7d7f;
    letter-spacing: .05em;
}

#menu-footer-navigation {
    display: flex;
    white-space: nowrap;
    list-style-type: none;
    text-align: center;
    justify-content: center;
    padding: 40px 0;
    margin-right: -1em;
}

.link {
    text-decoration: none;
}

svg>circle:hover {
    stroke: #e1a87a;
}

svg:hover {
    fill: #e1a87a;
}

/* Pages style */

.block-media-text-left, .block-media-text {
    background-color: #f5f5f5;
    box-sizing: border-box;
    display: flex;
    padding: 20vh 3vw;
}

.title {
    font-family: 'Lucida Sans Regular', sans-serif;
    font-style: normal;
    font-weight: 100;
    letter-spacing: .025em;
    text-transform: none;
    line-height: 1.1em;
}

.text {
    font-family: proxima-nova;
    font-style: normal;
    letter-spacing: .05em;
    font-size: large;
    line-height: 2em;
}

.text-gray {
    margin-top: inherit;
    font-family: proxima-nova;
    font-style: normal;
    letter-spacing: .08em;
    font-size: large;
    line-height: 2em;
}

.block-media-text-right {
    background-color: #f0f0f0;
    box-sizing: border-box;
    display: flex;
    padding: 20vh 6vw;
}

.block-gallery {
    background-color: #f0f0f0;
    box-sizing: border-box;
}

.block-gallery-media-text {
    box-sizing: border-box;
    display: flex;
    padding: 5vw;
}

.block-grey-text {
    background-color: #313131;
    color: #fff;
    box-sizing: border-box;
    text-align: center;
    padding: 10vh 6vw;
}

.block-media-text-left-content, .block-media-text-right-content {
    box-sizing: border-box;
    text-align: center;
    color: #121212;
    margin: auto 4%;
}

.block-media-text-content {
    text-align: center;
    color: #121212;
    margin: auto 4%;
}

.block-contact-content, .block-gallery-content {
    text-align: center;
    color: #121212;
    margin: auto 9%;
}

.block-gallery-media {
    display: flex;
    justify-content: center;
}

.block-grey-text-content {
    box-sizing: border-box;
    margin: 6%;
}

button {
    background-color: #32373c;
    border: none;
    border-radius: 28px;
    box-shadow: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    margin: 0;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    overflow-wrap: break-word;
}

button:hover {
    color: #e1a87a;
    border: solid 1px #e1a87a;
}