html, body {
    margin: 0;
    padding: 0;
    max-width: 100%;
    min-height: 100vh;
}

body {
    position: relative;
    padding: 0;
}

/**  Header style  **/

#menu-avvys-menu {
    padding: 10px 10px;
    line-height: 1em;
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.box-header-heading {
    margin-top: 0;
}

/**  Footer style  **/

.block-footer-content {
    -webkit-font-smoothing: antialiased;
    white-space: pre-wrap;
    text-align: center;
}

.block-footer-content-heading {
    font-size: 4.25vw;
    margin: auto;
}

.block-footer-content-last {
    margin: 0;
    letter-spacing: .05em;
}

#menu-footer-navigation {
    display: flex;
    list-style-type: none;
    justify-content: center;
}

/**  Pages style  **/

.block-index-media-text-left, .block-page-media-text {
    border-bottom: solid .00625rem white;
}

.block-gallery-content {
    text-align: center;
    margin: auto 9%;
}

.block-grey-text-content {
    box-sizing: border-box;
    margin: 8%;
}

/* Animation */

.img_small {
    width: calc(100% / 3);
    transition: transform .5s;
    transform-origin: center center;
}

.home-img {
    transition: transform .4s;
    transform-origin: center center;
}

.img_small:hover, .home-img:hover {
    transform: scale(1.2);
}

/**  Home page style  **/

.home-title {
    width: 100%;
    margin: 0 0 4% 0;
    padding: 2%;
}

.gallery-button {
    margin: 2%;
}

/* Contact pages style */

.img-element {
    -webkit-box-shadow: 10px 10px 26px -18px rgba(150, 150, 150, 0.81);
    -moz-box-shadow: 10px 10px 26px -18px rgba(150, 150, 150, 0.81);
    box-shadow: 10px 10px 26px -18px rgba(150, 150, 150, 0.81);
}

.contact-img {
    flex-grow: 1;
}