.container-header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 11px;
    -webkit-font-smoothing: antialiased;
    border-bottom: 1px solid white;
}

.container-header-inner {
    box-sizing: border-box;
}

.box-header {
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    white-space: pre-wrap;
    margin-right: auto;
    border-bottom: 1px solid white;
}

.box-text-md {
    box-sizing: border-box;
    text-align: center;
    padding: 10vh 6vw;
}

.box-content {
    box-sizing: border-box;
    text-align: center;
    margin: auto 4%;
}

.block-contact-content {
    width: 100%;
    text-align: center;
    margin-top: 10%;
    -webkit-box-shadow: 10px 10px 26px -18px rgba(150, 150, 150, 0.81);
    -moz-box-shadow: 10px 10px 26px -18px rgba(150, 150, 150, 0.81);
    box-shadow: 10px 10px 26px -18px rgba(150, 150, 150, 0.81);
}

/**  Flexbox - boxes  **/

.box-text {
    max-width: 100%;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    padding: 20vh 3vw;
}

.block-gallery-media {
    min-width: 100%;
    display: flex;
    flex-flow: row wrap;
}

.CV-container {
    max-width: 100%;
    padding: 15vh 3vw;
    display: flex;
    flex-flow: row wrap;
}

.box-CV-content-shadow {
    width: 45%;
    box-sizing: border-box;
    flex-direction: column;
    text-align: center;
    margin: 1%;
    flex-grow: 1;
    padding: 4vh 3vw;
    -webkit-box-shadow: 10px 10px 26px -18px rgba(150, 150, 150, 0.81);
    -moz-box-shadow: 10px 10px 26px -18px rgba(150, 150, 150, 0.81);
    box-shadow: 10px 10px 26px -18px rgba(150, 150, 150, 0.81);
}

.block-gallery-media-text {
    box-sizing: border-box;
    display: flex;
    padding: 5vw;
}

.box-contact-media-text {
    max-width: 100%;
    box-sizing: border-box;
    flex-grow: 1;
    display: flex;
    padding: 10vh 3vw;
}

.box-contact {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.block-home-gallery {
    max-width: 100%;
    box-sizing: border-box;
    text-align: center;
    padding: 2%;
    display: flex;
    flex-flow: row wrap;
}