.menu-item-type-post_type>a, #menu-footer-navigation>li>a, link {
    cursor: pointer;
    display: inline-flex;
    margin-right: 25px;
    color: #fff;
    padding: .618em 0;
    font-size: 1.2em;
    letter-spacing: .16em;
}

#menu-avvys-menu>li>a:hover, #menu-footer-navigation>li>a:hover {
    color: #e1a87a;
}

#menu-avvys-menu .current-menu-item>a, #menu-footer-navigation .current-menu-item>a {
    border-bottom: solid 1px #e1a87a;
    /* active */
}

/**  SVG chevron style  **/

.downArrow {
    position: absolute;
    top: 600px;
    left: 43%;
    fill: #fff;
}

.demo:hover {
    opacity: .6;
}

.bounce {
    -moz-animation: bounce 3s infinite;
    -webkit-animation: bounce 3s infinite;
    animation: bounce 3s infinite;
}

@-moz-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -moz-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -moz-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    60% {
        -moz-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

@-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    60% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -moz-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    60% {
        -moz-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

/**  Footer links style  **/

#Layer_1>circle:hover, #image0 {
    stroke: #e1a87a;
    cursor: pointer;
}

#Layer_1:hover {
    fill: #e1a87a;
}

/**  CV-resume links style  **/

.post-categories>li, a {
    cursor: text;
    color: #121212;
    list-style-type: none;
    text-decoration: none;
}

.s1>a, strong>a, .block-CV-resume-text>ul>li>a, .block-CV-resume-text>p>a {
    text-decoration: underline #e1a87a;
    color: #e1a87a;
    cursor: pointer;
}

.s1>a:hover, strong>a:hover, .block-CV-resume-text>ul>li>a:hover, .block-CV-resume-text>p>a:hover {
    text-decoration: underline rgb(126, 129, 122);
    opacity: inherit;
}