/*  
    ============================================
        Responsive Web Design 
    ============================================
 */

/** XXLarge devices (large laptops and desktops, 1350px and UP) **/

@media only screen and (min-width: 1350px) {
    .downArrow {
        position: absolute;
        top: 850px;
    }
    .contact-img {
        margin: 0;
        width: -webkit-fill-available;
    }
    .font-nova-text {
        font-size: x-large;
    }
}

/** EXTRA large devices (large laptops and desktops, 1350px and down) **/

@media only screen and (max-width: 1350px) {
    .downArrow {
        position: absolute;
        top: 600px;
    }
    .contact-img {
        margin: 0;
    }
    .box-header {
        min-height: initial;
    }
}

/** LARGE devices (laptops/desktops 1050px & down) **/

@media only screen and (max-width: 1050px) {
    .box-header-heading {
        margin-top: 8%;
    }
    .sm {
        max-width: 100%;
        padding: 2vh;
    }
    .media {
        overflow: inherit;
    }
    .box-contact {
        padding: 2vh;
    }
    .block-grey-text-content {
        margin: 5%;
    }
    .box-header {
        max-width: 100%;
        min-height: auto;
    }
    .box-text {
        padding: 5vh 3vw;
    }
}

/** SMALL devices (portrait, tablets and large phones, from 600px up to 950px) **/

@media (min-width: 600px) and (max-width: 950px) {
    .box-header-heading {
        margin-top: 10%;
    }
    .block-home-gallery, .block-gallery-media-text, .box-contact-media-text {
        flex-direction: column;
        padding: 0;
    }
    .box-header {
        min-height: initial;
    }
    .box-text {
        flex-direction: column;
        padding: 10vh 6vw;
    }
    .box-text img, .block-gallery-media-text img {
        padding: 10vh 18vw;
    }
    .box-CV-content-shadow {
        width: 100%;
    }
    .contact-img {
        text-align: center;
    }
    .responsive {
        min-height: 70vh;
    }
    .block-grey-text-content {
        margin: 0;
    }
    .block-page-media-text {
        padding: 10vh 6vw;
    }
    .font-sans-serif-text {
        font-size: 1em;
    }
}

/** EXTRA Small (phones, 750px or smaller) **/

@media only screen and (max-width: 750px) {

    .box-header-heading {
        margin-top: 60%;
        text-align: center;
    }
    .style {
        flex-direction: column;
    }
    .namn {
        margin: 11px 0 0 0px;
    }
    .container-header {
        position: relative;
    }
    .font-pro {
        font-size: 9vw;
        letter-spacing: .06em;
        line-height: 1em;
        margin-left: 0;
    }
    .box-text {
        flex-direction: column;
        padding: 6vh;
    }
    .box-CV-content-shadow {
        width: 100%;
    }
    .block-home-gallery, .block-gallery-media-text, .box-contact-media-text {
        flex-direction: column;
        padding: 2vh;
    }
    .menu {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    #menu-footer-navigation>li>a, .link, .menu-avvys-menu-container, .logo {
        margin: 0;
    }
    .box-content {
        margin-bottom: 3%;
    }
    .block-page-media-text, .box-CV-content-shadow {
        padding: 2vh;
        overflow: auto;
        margin: 0;
    }
    .font-nova-text {
        letter-spacing: .04em;
        font-size: 16px;
        line-height: 1.5em;
    }
    .font-sans-serif-text {
        font-size: 1em;
    }
    .font-title {
        font-size: 1.5em;
        font-weight: 200;
    }
    .block-footer-content-heading {
        font-size: 6vw;
    }
    .contact-img {
        text-align: center;
        margin-right: 0;
    }
    .responsive {
        max-width: 100%;
    }
    .downArrow {
      display: none;
    }
    .custom-background {
        background-image: none !important;
        background-color: #f0f0f0;
    }
    .box-header {
        background-image:url(http://localhost:8888/Avvy_Portfolio20/wp-content/uploads/2020/06/bram-naus-n8Qb1ZAkK88-unsplash-scaled.jpg);
        background-repeat: no-repeat;
        background-size: contain;
        background-color: #f0f0f0;
    }
    .font-pro {
        color: #121212;
        margin-left: 0;
    }

}

/** XXSmall (phones, 375px or smaller) **/

@media only screen and (max-width: 375px) {
    .downArrow {
        display: none;
    }
    .block-gallery-media {
        flex-direction: column;
        padding: 2vh;
    }
    .img_small {
        min-width: inherit;
    }
    .box-CV-content-shadow {
        width: 100%;
        overflow: auto;
    }
    .custom-background {
        background-image: none !important;
        background-color: #f0f0f0;
    }
    .box-header {
        background-image:url(http://localhost:8888/Avvy_Portfolio20/wp-content/uploads/2020/06/bram-naus-n8Qb1ZAkK88-unsplash-scaled.jpg);
        background-repeat: no-repeat;
        background-size: contain;
        background-color: #f0f0f0;
    }
    .font-pro {
        color: #121212;
        margin-left: 0;
    }
    #menu-footer-navigation>li>a, .link, .menu-avvys-menu-container, .logo {
        margin: 0;
    }
}