/*  
    ============================================
        Responsive Web Design 
    ============================================
 */

/** EXTRA large devices (large laptops and desktops, 1250px and UP) **/

@media only screen and (min-width: 1250px) {
    .downArrow {
        position: absolute;
        top: 830px;
    }
    .contact-img{
        margin: 0;
    }
}

/** LARGE devices (laptops/desktops, 950px to 1050px) **/

@media (min-width: 950px) and (max-width: 1050px) {
    .box-header-heading {
        margin-top: 8%;
    }
    .sm {
        max-width: 100%;
        padding: 2vh;
    }
    .media {
        overflow: inherit;
    }
    .box-contact {
        padding: 2vh;
    }
    .block-grey-text-content {
        margin: 5%;
    }
    .box-header {
        max-width: 100%;
        min-height: auto;
    }
    .box-text {
        padding: 5vh 3vw;
    }
    .downArrow {
        position: absolute;
        top: 600px;
    }
}

/** SMALL devices (portrait, tablets and large phones, from 600px up to 950px) **/

@media (min-width: 600px) and (max-width: 950px) {
    .box-header-heading {
        margin-top: 10%;
    }
    .block-home-gallery, .block-gallery-media-text, .box-contact-media-text {
        flex-direction: column;
        padding: 0;
    }
    .box-text {
        flex-direction: column;
        padding: 10vh 6vw;
    }
    .box-text img, .block-gallery-media-text img {
        padding: 10vh 18vw;
    }
    .box-CV-content-shadow {
        width: 100%;
    }
    .contact-img {
        text-align: center;
    }
    .responsive {
        min-height: 70vh;
    }
    .block-grey-text-content {
        margin: 0;
    }
    .block-page-media-text {
        padding: 10vh 6vw;
    }
}

/** EXTRA Small (phones, 750px or smaller) **/

@media only screen and (max-width: 750px) {
    html {
        margin: 0 !important;
    }
    .box-header-heading {
        margin-top: 70%;
        text-align: center;
    }
    .font-pro {
        font-size: 9vw;
        letter-spacing: .06em;
        line-height: 1em;
    }
    .box-text {
        flex-direction: column;
        padding: 6vh;
    }
    .box-CV-content-shadow {
        width: 100%;
    }
    .block-home-gallery, .block-gallery-media-text, .box-contact-media-text {
        flex-direction: column;
        padding: 2vh;
    }
    .menu {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .box-content {
        margin-bottom: 3%;
    }
    .block-page-media-text, .box-CV-content-shadow {
        padding: 2vh;
        overflow: auto;
        margin: 0;
    }
    .font-nova-text {
        letter-spacing: .04em;
        font-size: 16px;
        line-height: 1.5em;
    }
    .block-footer-content-heading {
        font-size: 6vw;
    }
    .contact-img {
        text-align: center;
        margin-right: 0;
    }
    .box-header {
        min-height: 70vh;
    }
    .responsive {
        max-width: 100%;
    }
    .downArrow {
        position: absolute;
        top: 490px;
        left: 33%;
    }
}

/** XXSmall (phones, 375px or smaller) **/

@media only screen and (max-width: 375px) {
    .downArrow {
        position: absolute;
        top: 450px;
        left: 30%;
        fill:#121212;
    }
    .block-gallery-media{
        flex-direction: column;
        padding: 2vh;
    }
    .img_small{
        min-width:inherit;
    }
    .box-CV-content-shadow {
        width: 100%;
        overflow: auto;
    }
    .custom-background{
        background-image: none !important;
        background-color: #f0f0f0;
    }
    .font-pro{
        color:#121212;
    }
}